[build]
target = "wasm32-unknown-unknown"

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
strip = true

[target.wasm32-unknown-unknown]
rustflags = ["-C", "link-arg=-s"]
